<div class="oneItem">

            <span class="name"> <%= pizza.title %>
                <% if(size==="small_size") { %>
                \n(Історія пацієнта)</span>
    <div class="actions">
        <button class="btn btn-default btn-circle delete ">&#x2718;</button>
    </div>

    <div class="image"><img src="<%= pizza.icon %>"></div>

</div>
